<div id="alert-message">
    <div class="alert alert-success alert-dismissible fade in hidden" id="alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="alert alert-info alert-dismissible fade int hidden" id="alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="alert alert-warning alert-dismissible fade in hidden" id="alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="alert alert-danger alert-dismissible fade in hidden" id="alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
</div>

<script>
    function sm(type, message) {
        $("#alert-"+type).clone().removeClass('hidden').append(message).appendTo("#alert-message");
    }
</script>