      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Phần mềm quản lí khách sạn - Nguyễn Đức Long@NUCE
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>


  <!-- FastClick -->
  <!-- <script src="/vendors/fastclick/lib/fastclick.js"></script> -->
  <!-- NProgress -->
  <!-- <script src="/vendors/nprogress/nprogress.js"></script> -->
  <!-- jQuery custom content scroller -->
  <!-- <script src="/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script> -->
  <!-- PNotify
  <script src="/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script> -->
  <!-- iCheck -->
  <!-- <script src="/vendors/iCheck/icheck.min.js"></script> -->


  
  <!-- Custom Theme Scripts -->
  <script src="/build/js/custom.min.js"></script>

  
</body>
</html>