<%- include('../begin_html') %>

<div class="right_col" role="main" style="min-height: 3773px;">
  <div class="page-content">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>
    
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <%- include('../alert_message') %>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm mã giảm giá</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left">
                        <!-- Chọn khách sạn -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Chọn khách sạn áp dụng:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="select-hotel"></select>
                            </div>
                        </div>
                        <!-- #Chọn khách sạn -->
    
                        <!-- Tên -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên giảm giá:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" id="ip-name"></input>
                            </div>
                        </div>
                        <!-- #Tên -->
                        <!-- Loại -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại giảm giá:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" id="select-type">
                                    <option value="0">Cả phòng và dịch vụ</option>
                                    <option value="1">Dịch vụ</option>
                                    <option value="2">Phòng</option>
                                </select>
                            </div>
                        </div>
                        <!-- #Loại -->
            
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Phần trăm giảm giá:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="number" value=1 min="1" max="99" class="form-control" id="ip-percent"></input>
                            </div>
                        </div>



                        <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Số lượng:
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" min="1" value=1 class="form-control" id="ip-count"></input>
                                </div>
                            </div>
                            
                        <!-- Button -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="btn-create" class="btn btn-success">
                                    Tạo
                                </button>
                                <a type="button" href="/admin/discount/list" class="btn btn-danger">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<%- include('../end_html') %>

<script>
    $(document).ready(() => {
        // Lay danh sach khach san
        $.ajax({
            method: 'GET',
            url: '/admin/discount/listhotel'
        }).done((data)=> {
            data.forEach(element => {
                $option = "<option value=" + element.id + ">" + element.name + "</option>";
                $('#select-hotel').append($option)
            });
        })


        $('#btn-create').click(()=>{
            $hotel_id   = $('#select-hotel').val();
            $name       = $('#ip-name').val();
            $type       = $('#select-type').val();
            $percent    = $('#ip-percent').val();
            $soluong    = $('#ip-count').val();
            if($name == '') {
                Swal('Tên không hợp lệ','', 'error');
                return;
            }

            if($percent < 1 || $percent > 99 || $soluong < 1) {
                Swal('Phần trăm hoặc số lượng không hợp lê','', 'error');
                return;
            }

            $.confirm({
                title: 'Chú ý',
                content: 'Xác nhận thêm?',
                buttons: {
                    ok: {
                        text: "OK",
                        btnClass: "btn btn-success",
                        action: () => {
                            $data = {
                                hotel_id: $hotel_id,
                                name: $name,
                                type: $type,
                                percent: $percent,
                                soluong: $soluong
                            }

                            $.ajax({
                                method:'POST',
                                url: '/admin/discount/add',
                                data : $data
                            }).done((result)=>{
                                if (result.ok == 1) {
                                    Swal('Thành công!', result.message, 'success');
                                } else {
                                    Swal('Lỗi!', result.message, 'error');
                                }
                            })
                        }


                    },
                    cancel: {
                        text: 'Hủy',
                        btnClass: "btn btn-danger"
                    }
                }
            })
        }) 
    })
</script>