<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Đăng nhập hệ thống </title>
    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

        <!-- Sweet Alert -->
        <script src="/vendors/sweetalert2/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="/vendors/sweetalert2/sweetalert2.min.css">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Đăng nhập</h1>
              <div>
                <input type="text" class="form-control" placeholder="Tên đăng nhập" required id="username"/>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Mật khẩu" required id="password"/>
              </div>
              <div>
                <input class="btn btn-default" type="button" id="btn-login" value="Đăng nhập">
                <a class="reset_pass" href="#">Quên mật khẩu?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Chưa có tài khoản?
                  <a href="#signup" class="to_register" style="color : rgb(50, 50, 170)"> Đăng kí tài khoản </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Nguyễn Đức Long@NUCE</h1>
                  <p>©2019 Phần mềm quản lí khách sạn</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Đăng kí tài khoản</h1>
              <div>
                <input type="text" class="form-control" placeholder="Tên đăng nhập" id="signup-username" required />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Mật khẩu" id="signup-password"required />
              </div>
              <div>
                  <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id="signup-password2"required />
                </div>
              <div>
                <button class="btn btn-default" type="button" id="btn-signup">Đăng kí</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Bạn đã có tài khoản ?
                  <a href="#signin" class="to_register"> Đăng nhập </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Nguyễn Đức Long@NUCE</h1>
                    <p>©2019 Phần mềm quản lí khách sạn</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>


<script>
  $(document).ready(() => {
    $('#btn-login').click(()=> {
      let username = $('#username').val();
      let password = $('#password').val();

      $.ajax({
        url: 'login',
        method: 'POST',
        data : {username : username, password: password}
      }).done((result) => {
        if(result.ok == false) {
          Swal('Lỗi', result.message, 'error');
        } else {
          Swal("Đăng nhập thành công", '','success');
          setTimeout(() => {
            window.location.replace(result.url);
          }, 1500);
        }
      })
    });
  });
  
</script>